h1{
color: rgb(40, 40, 106);
font-size: 25px;
        }
        p{
            color: rgb(86, 55, 115);
font-family: Arial, Helvetica, sans-serif;
        }
        img{
            border: 2px solid rgb(213, 8, 8);

        }