h1{
color: rgb(198, 54, 176);
font-size: 25px;
        }
        p{
            color: rgb(37, 156, 31);
font-family: Arial, Helvetica, sans-serif;
        }
        img{
            border: 2px solid rgb(85, 114, 255);

        }