h1{
color: rgb(40, 40, 106);
font-size: 25px;
        }
        p{
            color: rgb(37, 156, 31);
font-family: Arial, Helvetica, sans-serif;
        }
        img{
            border: 2px solid rgb(33, 168, 225);

        }